<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos para las fotos -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/deligo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/deligo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliGOv2"
        tools:targetApi="31">
        <activity
            android:name=".LogIn.Registro.LoginCrearCuentaEmailPassword"
            android:exported="false" />
        <activity
            android:name=".LogIn.InicioSesion.LoginInicioActivity"
            android:exported="false" />
        <activity
            android:name=".LogIn.InicioSesion.LoginVistaInicialApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Para google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjWH_98tHjw4r9sEDaLCC1rD6oDZXbfeU" />

        <activity
            android:name=".NotiActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorEditarPlatoActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorHistorialActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorDetallePlatoActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorInfoRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorRegistroPlato1Activity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorRegistroPlato2Activity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorRegistroPlatoExitosoActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorReporteClientesActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorReporteComidaActivity"
            android:exported="false" />
        <activity
            android:name=".Adapters.RepartidorHistorialPedidosAdapter"
            android:exported="false" />
        <activity
            android:name=".Repartidor.PerfilRepartidor"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorTrackingFinalizado"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorTrackingEstadoRecibido"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorTrackingEstadoEnPreparacion"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorTrackingEstadoEnCamino"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorCancelacionPedido"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorHistorial"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorAceptacionPedido"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorDetalleMapaPedido"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorDetalleCompraDelivery"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorNotificaciones"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorVistaHome"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminVistaPerfilRepartidor"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminVistaPerfilCliente"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminVistaPerfilAdministrador"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminVistaLogEvent"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRestauranteUbicacion"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRestauranteResumen"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRestaurantePlatillos"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminResturanteHistorialVentas"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRegistroRestauranteCorrect"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRegistroRestaurante2"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRegistroRestaurante1"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRegistroAdministrador2"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRegistroAdministrador1"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRegistroAdminCorrect"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminPlatillosDescription"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminRestaurante"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminHistorialVentasDetalles"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.Home.SuperAdminAdministrador"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.Home.SuperAdminRepartidor"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.SuperAdminPerfil"
            android:exported="false"
            android:theme="@style/Theme.DeliGOv2" />
        <activity
            android:name=".LogIn.Registro.LoginCrearCuentaPasoFinal"
            android:exported="false" />
        <activity
            android:name=".LogIn.Registro.LoginCrearCuentaCuartoPaso"
            android:exported="false" />
        <activity
            android:name=".LogIn.Registro.LoginCrearCuentaTercerPaso"
            android:exported="false" />
        <activity
            android:name=".LogIn.Registro.LoginCrearCuentaSegundoPaso"
            android:exported="false" />
        <activity
            android:name=".LogIn.Registro.LoginCrearCuentaPrimerPaso"
            android:exported="false" />
        <activity
            android:name=".LogIn.RecuperarContra.LoginRecuperarPasswordPasoFinal"
            android:exported="false" />
        <activity
            android:name=".LogIn.RecuperarContra.LoginRecuperarPasswordTercerPaso"
            android:exported="false" />
        <activity
            android:name=".LogIn.RecuperarContra.LoginRecuperarPasswordSegundoPaso"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteConfirmarDireccion"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteVeRepartidor"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClientePerfil"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteCarrito"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteQR"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteHistorialActivity"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteDetalleCompra"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClientePlatoActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.Home.SuperAdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Repartidor.RepartidorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".LogIn.RecuperarContra.LoginRecuperarPasswordPrimerPaso"
            android:exported="false" />
        <activity
            android:name=".LogIn.LoginPrimeraVista"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteConfirmacionCompra"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteNotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".Cliente.ClienteHomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>